{% extends "admin/filer/change_form.html" %}
{% load i18n admin_modify %}

{% load filer_admin_tags filermedia filer_picture_tags i18n %}

{% block extrahead %}{{ block.super }}
{{ media.js }}
<script type="text/javascript" src="{% admin_js_base %}jquery.min.js"></script>
<script type="text/javascript" src="{% filer_staticmedia_prefix %}js/jquery-ui-1.7.2.custom.min.js"></script>
<script type="text/javascript" src="{% filer_staticmedia_prefix %}js/throbber/jquery.throbber.js"></script>
<script type="text/javascript" src="{% filer_staticmedia_prefix %}js/jquery.cookie.js"></script>
<script type="text/javascript" src="{% filer_staticmedia_prefix %}js/retina.js"></script>
<script type="text/javascript" src="{% filer_staticmedia_prefix %}js/crop/jquery.Jcrop.js"></script>
{% endblock %}


{% block object-tools %}
{% if change %}{% if not is_popup %}
  <ul class="object-tools">
    {#<li><a href="export/">{% trans "Export" %}</a></li>#}
    <li><a href="history/" class="historylink">{% trans "History" %}</a></li>
  {% if has_absolute_url %}<li><a href="../../../r/{{ content_type_id }}/{{ object_id }}/" class="viewsitelink">{% trans "View on site" %}</a></li>{% endif%}
  </ul>
{% endif %}{% endif %}
{% endblock %}

{% block extrastyle %}
{{ block.super }}
    <link rel="stylesheet" type="text/css" href="{% filer_staticmedia_prefix %}css/throbber/jquery.throbber.css">
    <link rel="stylesheet" type="text/css" href="{% filer_staticmedia_prefix %}css/throbber/filer2.throbber.css">
    <link rel="stylesheet" type="text/css" href="{% filer_staticmedia_prefix %}css/crop/jquery.Jcrop.css">
    <link rel="stylesheet" type="text/css" href="{% filer_staticmedia_prefix %}css/crop/filer.crop.css">
{% endblock %}

{% block after_field_sets %}
{{block.super}}
{% include 'admin/filer/picture/crop_image.html' %}

{% autoescape off %}
<input id='crop-coords-3-2' type='hidden' value="{{ original.area_interest_coords|get:"3-2" }}"></input>
<input id='crop-coords-2-3' type='hidden' value="{{ original.area_interest_coords|get:"2-3" }}"></input>
<input id='crop-coords-1-1' type='hidden' value="{{ original.area_interest_coords|get:"1-1" }}"></input>
<input id='crop-coords-16-9' type='hidden' value="{{ original.area_interest_coords|get:"16-9" }}"></input>
{% endautoescape %}

<div id='src-img-wrap' class='img-wrap'>
  <input id='src-img-id' type='hidden' value='{{ object_id }}'></input>
    <!-- Start: Image crop grid -->
    <div id="two-columns" class="grid-container" style="display:block;">
        <ul class="rig columns-2">
            <li>
                <h3>Landscape (3:2)</h3>
                <p>Ideal crop for wide posters in landscape mode</p>
                <img class="src-img" id="src-img-1" src="{{ original.file.url }}">
            </li>
            <li>
                <h3>Portrait (2:3)</h3>
                <p>Ideal for fullscreen view of images in portrait mode - while holding the phone upright</p>
                <img class="src-img" id="src-img-2" src="{{ original.file.url }}">
            </li>
            <li>
                <h3>Square (1:1)</h3>
                <p>Ideal for thumbnails of people, articles - square view</p>
                <img class="src-img" id="src-img-3" src="{{ original.file.url }}">
            </li>
            <li>
                <h3>Widescreen (16:9)</h3>
                <p>Ideal for showing the fullscreen view of images in landscape for HD viewing</p>
                <img class="src-img" id="src-img-4" src="{{ original.file.url }}">
            </li>
        </ul>
    </div>
    <!-- End: Image crop grid -->

</div>

<div style="clear: both; width: 100%; align: middle">
    <div id="preview-loading-throbber" class="filer2-loading-throbber">
        <img src="{% filer_staticmedia_prefix %}css/throbber/ajax-loader.gif" class="filer2-throbber-gif" style="position: relative; height: 14px; top: 2px;">
    </div>

    <button class='btn btn-info' style='display:none' id='save-img-btn' value='crop'>Done</button>
    <button class='btn btn-info' id='preview-img-btn' value='crop'>Preview</button>
</div>

<!-- Start: Image thumbnails preview area -->
<div id="thumbnail-preview-area" style="margin-top: 60px">
    <div class='preview-box'>
        <h3>Master Crop Wide / Landscape (3:2)</h3>
        <div id='preview-img-mcw' class='img-wrap' style='display:none;'><ul></ul></div>
    </div>
    
    <div class='preview-box'>
        <h3>Master Crop Long / Portrait (2:3)</h3>
        <div id='preview-img-mcl' class='img-wrap' style='display:none;'><ul></ul></div>
    </div>
    
    <div class='preview-box'>
        <h3>Square (1:1)</h3>
        <div id='preview-img-sq'class='img-wrap' style='display:none;'><ul></ul></div>
    </div>
    
    <div class='preview-box'>
        <h3>Widescreen (16:9)</h3>
        <div id='preview-img-ws' class='img-wrap' style='display:none;'><ul></ul></div>
    </div>
</div>
{% endblock %}

{% block file_sidebar %}
<div id="navcontainer">
    <div id="image_container">
        <img src="{{ original.thumbnails.admin_sidebar_preview }}" alt="{{ original.label }}" rel="{{ adminform.form.sidebar_image_ratio }}" />
        <div id="paper">&nbsp;</div>
    </div>
    <a href="{{ original.url }}">{% trans "Full size preview" %}</a>
</div>
{{ block.super }}
{% endblock %}
