{% load i18n admin_modify filermedia %}
{% load url from future %}

<!-- Start: CSS Styling for the image grid for cropping -->
<style type="text/css">
ul.rig {
  list-style: none outside none;
  font-size: 0px;
  margin: 0px;
}

ul.rig.columns-2 li {
  width: 48.0%;
}

ul.rig li {
  display: inline-block;
  padding: 10px;
  margin: 10px 10px 0.5% 0.5%;
  background: none repeat scroll 0% 0% #FFF;
  border: 1px solid #DDD;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0px 0px 5px #DDD;
  box-sizing: border-box;
}

ul.rig li img {
  width: 100%;
  height: auto;
  margin: 0px 0px 0px;
}

ul.rig li h3 {
  margin: 0px 0px 5px;
  padding-left: 0px;
}

ul.rig li p {
  font-size: 0.9em;
  line-height: 1.5em;
  color: #999;
}

</style>
<!-- End: CSS Styling for the image grid for cropping -->

<script type="text/javascript">

$(function() {

    var imgUrl = '';

    var coords = {
      'land': '',
      'port': '',
      'sq': '',
      'wide': ''
    };

    var coords_string_1 = '';
    var coords_string_2 = '';
    var coords_string_3 = '';
    var coords_string_4 = '';

    var picture_width = 0;
    var picture_height = 0;

    var current_image_id;

    /**
     * Assigning the coordinates as on when the crop area changes.
     */
    var selectArea_1 = function(c) {
        coords['land'] = c;
    };

    var selectArea_2 = function(c) {
        coords['port'] = c;
    };

    var selectArea_3 = function(c) {
        coords['sq'] = c;
    };

    var selectArea_4 = function(c) {
        coords['wide'] = c;
    };

    var coords2csv = function (c) {
        return c.x + ',' + c.y + ',' + c.x2 + ',' + c.y2;
    }

    var showCoords = function(c) {};

    var clearCoords_1 = function() {
      coords['land'] = '';
    }

    var clearCoords_2 = function() {
      coords['port'] = '';
    }

    var clearCoords_3 = function() {
      coords['sq'] = '';
    }

    var clearCoords_4 = function() {
      coords['wide'] = '';
    }

    /**
     * Generate the preview of the crop images and show it in UI.
     */
    var generate_crop_preview = function() {

      $("#preview-loading-throbber").fadeIn(100);

      $.ajax({
          url: "{% url 'admin:filer-crop_image' %}",
          type: "POST",
          data: { 
              "fileId" : current_image_id, 
              "width": picture_width,
              "height": picture_height,
              "3-2": coords2csv(coords['land']),
              "2-3": coords2csv(coords['port']),
              "1-1": coords2csv(coords['sq']),
              "16-9": coords2csv(coords['wide'])
          },
          dataType: "json",
          success: function(data) {

              for (var key in data['generated_thumbnails']) {
                  var div = $("#preview-img-" + key + " ul");
                  var thumbnails = data['generated_thumbnails'][key];
                  console.log(thumbnails);

                  for (var i in thumbnails) {
                    div.append('<li><img class="preview-img" src="'+ thumbnails[i] + '"/></li>');
                  }

                  $("#preview-img-" + key).show();
                  div.show();
              }

              $("#preview-loading-throbber").fadeOut(200);
          }
      });
    };

    /**
     * Validates whether crop coordinates are valid
     */
    var validate_crop_coordinates = function() {
      for (aspect_ratio in ['land', 'port', 'sq', 'wide'])
          if (coords[aspect_ratio] == '')
            return false;

      return true;
    }

    var scale_coords_string = function (coords_json, height, width) {
        var crop_area = [0.0, 0.0, 1.0, 1.0];

        try {
            crop_area = $.parseJSON(coords_json);
        }
        catch(err) {
            crop_area = coords_json.split(",");
        }

        crop_area[0] = crop_area[0] * width;  // x1
        crop_area[1] = crop_area[1] * height; // y1

        crop_area[2] = crop_area[2] * width;  // x2
        crop_area[3] = crop_area[3] * height; // y2

        return crop_area;
    }

    $(document).ready(function($) {
        current_image_id = $('#src-img-id').val();
        picture_width = jQuery('#src-img-1').width();
        picture_height = jQuery('#src-img-1').height();

        var jcrop1_params = {
            onChange: showCoords,
            onSelect: selectArea_1,
            onRelease: clearCoords_1,
            aspectRatio: 3/2
        };

        if ($('#crop-coords-3-2').val() != '') {
            jcrop1_params.setSelect = scale_coords_string($('#crop-coords-3-2').val(), picture_height, picture_width);
        }
        var jcrop_1 = $('#src-img-1').Jcrop(jcrop1_params);

        var jcrop2_params = {
            onChange:   showCoords,
            onSelect:   selectArea_2,
            onRelease:  clearCoords_2,
            aspectRatio: 2/3
        };

        if ($('#crop-coords-2-3').val() != '') {
          jcrop2_params.setSelect = scale_coords_string($('#crop-coords-2-3').val(), picture_height, picture_width);
        }
        var jcrop_2 = $('#src-img-2').Jcrop(jcrop2_params);

        var jcrop3_params = {
            onChange:   showCoords,
            onSelect:   selectArea_3,
            onRelease:  clearCoords_3,
            aspectRatio: 1/1
        };

        if ($('#crop-coords-1-1').val() != '') {
          jcrop3_params.setSelect = scale_coords_string($('#crop-coords-1-1').val(), picture_height, picture_width);
        }
        var jcrop_3 = $('#src-img-3').Jcrop(jcrop3_params);

        var jcrop4_params = {
            onChange:   showCoords,
            onSelect:   selectArea_4,
            onRelease:  clearCoords_4,
            aspectRatio: 16/9
        };

        if ($('#crop-coords-16-9').val() != '') {
          jcrop4_params.setSelect = scale_coords_string($('#crop-coords-16-9').val(), picture_height, picture_width);
        }

        var jcrop_4 = $('#src-img-4').Jcrop(jcrop4_params);

        $('#preview-img-btn').click(function(event) {
            event.preventDefault();

            if(validate_crop_coordinates()) {
                generate_crop_preview();

                $('#preview-img-btn').hide();
                $('#save-img-btn').show();
            } else {
                alert('Crop area not set for all aspect ratios');
            }
        });

        $('#save-img-btn').click(function(event){
            event.preventDefault();

            $('#preview-img-btn').show();
            $('#save-img-btn').hide();

            $('.preview-img').remove();
        });
    });
});	
</script>
