#src-img-wrap {
	margin-bottom:20px;
	float:left;
	margin-right:250px;
	width:100%;
}

.single-src-img-wrap {
	float:left;
}

.single-src-img-wrap.put-next-line {
	clear:both;
}

.src-img-aspect-label {
 	float:left;
 	font-weight:bold;
}

.src-img {
	float:left;
	margin-right:40px;
	margin-bottom:20px;
}

.src-img + div.jcrop-holder {
	float:left;
	margin-right:40px;
	margin-bottom: 20px;
	clear:both;
}

#save-img-btn {
	float:left;
	margin-right:10px;
}

#preview-img-btn {
	float:left;
}

.img-wrap ul {
  list-style-type: none;
}

.preview-img {
	clear:both;
	margin-top:20px;
}

#preview-img-wrap {
	float:left;
	clear:both;
	margin-top:30px;
}

#edit-img-wrap {
	height:100%;
	float:left;
	margin-bottom:20px;
}

div.preview-box {
  display: inline-block;
  padding: 10px;
  margin: 0px 0px 2.5% 2.5%;
  background: none repeat scroll 0% 0% #FFF;
  border: 1px solid #DDD;
  font-size: 1rem;
  vertical-align: top;
  box-shadow: 0px 0px 5px #DDD;
  box-sizing: border-box;
}
