.filer2-loading-throbber{
  background-color:transparent;
  border: 1px solid #F2F2F2;
  border-radius: 0 0 3px 3px;
  opacity: 0.9;
  display: none;
  font-size: 12px;
  height: 20px;
  left: 50%;
  padding: 2px 11px;
}

#preview-loading-throbber {
  float:left;
  clear:both;
  padding-left:300px;
}

.filer2-loading-throbber .filer2-throbber-gif{
    height: 34px !important;
    position: relative;
    top: 2px;
 }