{% load i18n admin_modify filermedia %}
{% load url from future %}

<script type="text/javascript">
//<![CDATA[
$(function() {
    var imgUrl = '';
    var coords_string_1 = '';
    var coords_string_2 = '';
    var coords_string_3 = '';
    var coords_string_4 = '';
    var picture_width = 0;
    var picture_height = 0;
    var current_image_id;

    var selectArea_1 = function(c) {
        coords_string_1 = c.x + ',' + c.y + ',' + c.x2 + ',' + c.y2;
        var current_image_id = $('#current-upload-img-id').val();
    };

    var selectArea_2 = function(c) {
        coords_string_2 = c.x + ',' + c.y + ',' + c.x2 + ',' + c.y2;
        var current_image_id = $('#current-upload-img-id').val();
        
    };

    var selectArea_3 = function(c) {
        coords_string_3 = c.x + ',' + c.y + ',' + c.x2 + ',' + c.y2;
        var current_image_id = $('#current-upload-img-id').val();
        
    };

    var selectArea_4 = function(c) {
        coords_string_4 = c.x + ',' + c.y + ',' + c.x2 + ',' + c.y2;
        var current_image_id = $('#current-upload-img-id').val();
        
    };

    var showCoords = function(c) {
        
    };
    var clearCoords = function() {
        $('#crop-coords').val('');
    }

    $('#save-img-btn').click(function() {
        var coords_string = $('#crop-coords').val();
        var current_image_id = $('#current-upload-img-id').val();
        $('#edit-img-wrap').hide();
    });

    var generate_crop_preview = function() {
        picture_width = jQuery('#src-img-1').width();
        picture_height = jQuery('#src-img-1').height();
        $.ajax({
            url: '{% url 'admin:filer-crop_image' %}',
            type: "POST",
            data: { 
                    'fileId' : current_image_id, 
                    'width': picture_width,
                    'height': picture_height,
                    '1-1': coords_string_1,
                    '4-3': coords_string_2,
                    '3-2': coords_string_3,
                    '16-9': coords_string_4
                },
            dataType: "json",
            success:function(data) {
                jQuery('#preview-img-wrap').append('<img class="preview-img" src="' + data['aspect-3-2'] + '"></img>');
                jQuery('#preview-img-wrap').append('<img class="preview-img" src="' + data['aspect-square'] + '"></img>');
                jQuery('#preview-img-wrap').append('<img class="preview-img" src="' + data['aspect-4-3'] + '"></img>');
                jQuery('#preview-img-wrap').append('<img class="preview-img" src="' + data['aspect-16-9'] + '"></img>');
                jQuery('#preview-img-wrap').show()
                //jQuery('#fileInputQueue tr:last .thumbnail img').replaceWith('<img src="' + data['thumbnail'] + '"></img>');
                //jQuery('#img-size-2-3').attr('src', data['size-2-3']);
                //jQuery('#img-size-3-2').attr('src', data['size-3-2']);
                //jQuery('#img-size-square').attr('src', data['size-square']);
                //jQuery('#preview-img-wrap').show();
            }
        });
    };

    $('#preview-img-btn').click(function() {
        console.log('preview');
        var coords_string = $('#crop-coords').val();
        var current_image_id = $('#current-upload-img-id').val();
        generate_crop_preview();
        /*
        $.ajax({
            url: '{% url 'admin:filer-crop_image' %}',
            type: "POST",
            data: { fileId : current_image_id,  coords: coords_string, imgUrl:imgUrl},
            dataType: "json",
            success:function(data) {
                //jQuery('#fileInputQueue tr:last .thumbnail img').replaceWith('<img src="' + data['thumbnail'] + '"></img>');
                jQuery('#img-size-2-3').attr('src', data['size-2-3']);
                jQuery('#img-size-3-2').attr('src', data['size-3-2']);
                jQuery('#img-size-square').attr('src', data['size-square']);
                jQuery('#preview-img-wrap').show();
            }
        });
*/
    });


    var uploader = new qq.FileUploaderBasic({
        action: '{% url 'admin:filer-ajax_upload' %}',
        button: document.getElementById('id_upload_button'),
        onSubmit: function(id, fileName){
            $("#fileInputQueue .noItemsRow").hide();
            $('#fileInputQueue').append('<tr id="fileUpload-' + id + '" class="clipboardItem fileUploadQueueItem"><td class="thumbnail"><div class="loadingThumb" /></td><td class="label"><div><span class="fileName">' + fileName + ' (<span class="size">?</span>)</span> [<span class="percentage">&nbsp;</span>]</div><div class="fileUploadProgress" style="width: 100%;"><div id="fileUpload-' + id + '-ProgressBar" class="fileUploadProgressBar" style="width: 1px; height: 3px;"></div></div></td></tr>');
        },
        onProgress: function(id, fileName, loaded, total){
            var percent = Math.round(loaded / total * 100);
            $('#fileUpload-' + id + ' .size').html(uploader._formatSize(total));
            $('#fileUpload-' + id + ' .percentage').html('' + percent + "%");
            $('#fileUpload-' + id + '-ProgressBar').css('width', percent + "%");
        },
        onComplete: function(id, fileName, responseJSON){
            var file = responseJSON;
            if (file.error) {
                var html = '\
                <td class="thumbnail"><img style="width: 32px;height: 32px;" src="{% filer_staticmedia_prefix %}/icons/missingfile_32x32.png" alt="{% trans 'file missing' %}" /></td>\
                <td class="label">' + file.error + '</td>\
                <td class="buttons"></td>';
            } else {
                imgUrl = file.medium;
                
                current_image_id = file.pk;

                //$('#src-img-wrap').replaceWith(source_image_html);
                $('#src-img-wrap').append('<img class="src-img"  id="src-img-1" src="' + file.url + '"></img>');
                $('#src-img-wrap').append('<img class="src-img" id="src-img-2" src="' + file.url + '"></img>');
                $('#src-img-wrap').append('<img class="src-img"  id="src-img-3" src="' + file.url + '"></img>');
                $('#src-img-wrap').append('<img class="src-img"  id="src-img-4" src="' + file.url + '"></img>');



                //$('#dest-img-wrap').replaceWith(destination_image_html);
    
                $('#edit-img-wrap').show();
                var html = '\
                    <td class="thumbnail"><img style="width: 32px;height: 32px;" src="' + file.thumbnail + '" alt="' + file.alt_text + '" /></td>\
                    <td class="label">' + file.label + '</td>\
                    <td class="buttons"></td>';
            
                //Cropping logic
                $('#src-img-1').Jcrop({
                    onChange:   showCoords,
                    onSelect:   selectArea_1,
                    onRelease:  clearCoords,
                    aspectRatio:1 
                });

                $('#src-img-2').Jcrop({
                    onChange:   showCoords,
                    onSelect:   selectArea_2,
                    onRelease:  clearCoords,
                    aspectRatio:4/3 
                });

                $('#src-img-3').Jcrop({
                    onChange:   showCoords,
                    onSelect:   selectArea_3,
                    onRelease:  clearCoords,
                    aspectRatio:3/2 
                });

                $('#src-img-4').Jcrop({
                    onChange:   showCoords,
                    onSelect:   selectArea_4,
                    onRelease:  clearCoords,
                    aspectRatio:16/9 
                });
            }
            $('#fileUpload-' + id).html(html);
        },
        onCancel: function(id, fileName){
            $('#fileUpload-' + id).hide();
        }
    });
});
//]]>
</script>
